In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

from IPython.display import Image

# enables inline plots, without it plots don't show up in the notebook
%matplotlib inline

In [4]:
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', 25)
pd.set_option('display.precision', 3)

In [21]:
df_31 = pd.read_csv('http://web.mta.info/developers/data/nyct/turnstile/turnstile_170107.txt')

In [40]:
df_31.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 194774 entries, 0 to 194773
Data columns (total 11 columns):
C/A                                                                     194774 non-null object
UNIT                                                                    194774 non-null object
SCP                                                                     194774 non-null object
STATION                                                                 194774 non-null object
LINENAME                                                                194774 non-null object
DIVISION                                                                194774 non-null object
DATE                                                                    194774 non-null object
TIME                                                                    194774 non-null object
DESC                                                                    194774 non-null object
ENTRIES                                                                 194774 non-null int64
EXITS                                                                   194774 non-null int64
dtypes: int64(2), object(9)
memory usage: 16.3+ MB

In [43]:
print(df_31.loc[0,'DATE'])
df_31.head()

12/31/2016

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS
0,A002,R051,02-00-00,59 ST,NQR456W,BMT,12/31/2016,03:00:00,REGULAR,5991546,2028378
1,A002,R051,02-00-00,59 ST,NQR456W,BMT,12/31/2016,07:00:00,REGULAR,5991565,2028389
2,A002,R051,02-00-00,59 ST,NQR456W,BMT,12/31/2016,11:00:00,REGULAR,5991644,2028441
3,A002,R051,02-00-00,59 ST,NQR456W,BMT,12/31/2016,15:00:00,REGULAR,5991971,2028502
4,A002,R051,02-00-00,59 ST,NQR456W,BMT,12/31/2016,19:00:00,REGULAR,5992418,2028543

In [46]:
df_31.loc[df_31.STATION=='TIMES SQ-42 ST', :]
pop_31=df_31.loc[(df_31.STATION=='TIMES SQ-42 ST') & (df_31.DATE=='12/31/2016')  & (df_31.TIME=='03:00:00'),['SCP','ENTRIES']]

             SCP     ENTRIES
2646    01-00-00     6326041
2690    01-00-01     1588406
2734    01-00-02     1076899
2778    01-00-03     1297170
2822    01-00-04     1278997
2866    01-00-05      966101
2910    01-00-06      984489
2954    01-00-07     1210050
128893  02-00-00     1331503
128935  02-00-01      279294
128977  02-00-02     3522602
129019  02-00-03      871517
...          ...         ...
130153  01-03-03     2678321
130195  01-06-00    50434358
130237  01-06-01      208898
130279  00-00-00     1192435
130321  00-00-01  1714431335
130363  00-00-02     7533981
130405  00-00-03     4727769
130447  00-00-04    14394863
130489  00-00-05    35063204
130531  00-00-06     6126219
130573  00-00-07    18456754
130615  00-00-08     5208844

[50 rows x 2 columns]

In [47]:
pop_1=df_31.loc[(df_31.STATION=='TIMES SQ-42 ST') & (df_31.DATE=='01/01/2017') & (df_31.TIME=='23:00:00'),['SCP','ENTRIES']]
print(pop_1)

             SCP     ENTRIES
2657    01-00-00     6327626
2701    01-00-01     1589309
2745    01-00-02     1077469
2789    01-00-03     1297620
2833    01-00-04     1279320
2877    01-00-05      966468
2921    01-00-06      984960
2965    01-00-07     1210808
128904  02-00-00     1332399
128946  02-00-01      279982
128988  02-00-02     3523143
129030  02-00-03      871962
...          ...         ...
130164  01-03-03     2678995
130206  01-06-00    50436924
130248  01-06-01      210873
130290  00-00-00     1192654
130332  00-00-01  1714437189
130374  00-00-02     7537571
130416  00-00-03     4730915
130458  00-00-04    14397704
130500  00-00-05    35066240
130542  00-00-06     6128947
130584  00-00-07    18459372
130626  00-00-08     5211937

[50 rows x 2 columns]

In [49]:
pop_1.ENTRIES.sum()-pop_31.ENTRIES.sum()

71838

In [69]:
df_0121 = pd.read_csv('http://web.mta.info/developers/data/nyct/turnstile/turnstile_170204.txt')

In [72]:
pop_28=df_0121.loc[(df_0121.STATION=='TIMES SQ-42 ST') & (df_0121.DATE=='01/28/2017')  & (df_0121.TIME=='03:00:00'),['SCP','ENTRIES']]
pop_29=df_0121.loc[(df_0121.STATION=='TIMES SQ-42 ST') & (df_0121.DATE=='01/29/2017') & (df_0121.TIME=='23:00:00'),['SCP','ENTRIES']]
pop_29.ENTRIES.sum()-pop_28.ENTRIES.sum()

97549

Empty DataFrame
Columns: [SCP, ENTRIES]
Index: []

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS
0,A002,R051,02-00-00,59 ST,NQR456W,BMT,01/14/2017,03:00:00,REGULAR,6009241,2035096
1,A002,R051,02-00-00,59 ST,NQR456W,BMT,01/14/2017,07:00:00,REGULAR,6009253,2035115
2,A002,R051,02-00-00,59 ST,NQR456W,BMT,01/14/2017,11:00:00,REGULAR,6009313,2035217
3,A002,R051,02-00-00,59 ST,NQR456W,BMT,01/14/2017,15:00:00,REGULAR,6009492,2035273
4,A002,R051,02-00-00,59 ST,NQR456W,BMT,01/14/2017,19:00:00,REGULAR,6009814,2035351