http://web.mta.info/developers/turnstile.html
https://groups.google.com/forum/#!searchin/mtadeveloperresources/turnstile/mtadeveloperresources/tynsUKSJtjk/BIdNU_kdKnwJ

C/A      = Control Area (A002)
UNIT     = Remote Unit for a station (R051)
SCP      = Subunit Channel Position represents an specific address for a device
           (02-00-00)
STATION  = Represents the station name the device is located at
LINENAME = Represents all train lines that can be boarded at this station
           Normally lines are represented by one character.
           LINENAME 456NQR repersents train server for
           4, 5, 6, N, Q, and R trains.

DIVISION = Represents the Line originally the station belonged to BMT, IRT,
           or IND
DATE     = Represents the date (MM-DD-YY)
TIME     = Represents the time (hh:mm:ss) for a scheduled audit event
DESc     = Represent the "REGULAR" scheduled audit event
           (Normally occurs every 4 hours)
           1. Audits may occur more that 4 hours due to planning,
           or troubleshooting activities.
           2. Additionally, there may be a "RECOVR AUD" entry:
           This refers to a missed audit that was recovered.

ENTRIES  = The cumulative entry register value for a device
EXIST    = The cumulative exit register value for a device

In [1]:
import pandas as pd

def clean_data():

    columns = ['control_area', 'unit', 'scp', 'station', 'line_name',
               'division', 'date', 'time', 'desc', 'entries', 'exits']
    data = pd.read_csv(
        'http://web.mta.info/developers/data/nyct/turnstile/turnstile_170624.txt',
        dtype={})
    data.columns = columns
    return data

In [2]:
df = clean_data()
unique_stations = df.station.unique()
recovery_audit = df[df.desc != 'REGULAR']
turnstile_recovery = df[(df.control_area == 'R532H')
                        & (df.station == 'METS-WILLETS PT')
                        & (df.scp == '02-05-00')
                        & (df.date == '06/19/2017')].sort_values(['time', 'scp'])

In [5]:
print('{} # unique stations'.format(unique_stations.size))

376 # unique stations

In [ ]:
df.iloc[0]

In [4]:
turnstile_recovery[
        ['time', 'scp', 'entries', 'exits', 'desc']]

            time       scp  entries  exits        desc
183339  01:00:00  02-05-00      739      0  RECOVR AUD
183340  05:00:00  02-05-00      739      0     REGULAR
183341  09:00:00  02-05-00      739      0     REGULAR
183342  13:00:00  02-05-00      739      0  RECOVR AUD
183343  17:00:00  02-05-00      739      0  RECOVR AUD
183344  21:00:00  02-05-00      739      0     REGULAR

In [3]:
# print(df.columns)
# print('unique desc values: ', df.desc.unique())
# print(recovery_audit.loc[182751])

            time       scp  entries  exits        desc
183339  01:00:00  02-05-00      739      0  RECOVR AUD
183340  05:00:00  02-05-00      739      0     REGULAR
183341  09:00:00  02-05-00      739      0     REGULAR
183342  13:00:00  02-05-00      739      0  RECOVR AUD
183343  17:00:00  02-05-00      739      0  RECOVR AUD
183344  21:00:00  02-05-00      739      0     REGULAR
376 # unique stations